<div class="container_basic">
  <h1>Questions</h1>
  <div class="row row-cols-1 row-cols-md-3">
    <% @questions.each do |question| %>
      <div class="col-md-4">
        <hr class="featurette-divider">
        <div class="card h-100">

          <div class="card-body">
            <h5 class="card-header">Email: <%= question.email %></h5>
            <h6 class="card-title"> From:  <%= question.name %> </h6>
            <p class="card-text"><%= question.message %> </p>
            <p class="card-text"> Responded: <%= question.responded %> </p>
            <p class="card-text">Topic : <%= question.questionTopic %> </p>
            <%= link_to 'Show more', question, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary btn-sm' %>
            <% if has_role?(:admin) %>
              <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
