<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777"/>
        </svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Not registered yet? </h1>
            <p>Join us and start your new journey.</p>
            <% if !user_signed_in? %>
              <%= link_to 'Sign up today', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
            <% else %>
              <%= link_to 'Sign up today', edit_user_registration_path, class: 'btn btn-lg btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777"/>
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Interested in some events? Check it out.</h1>
            <p>Check out all running events and find one which suits you best.</p>
            <%= link_to 'Show events', events_path, class: 'btn btn-lg btn-primary' %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777"/>
        </svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Stop consuming! Start creating.</h1>
            <p>Writing articles about events or your experiences, creating fancy events or communicating with users?
              All of this you can do, if you become a moderator! If you want to, feel free to contact us. </p>
            <% unless has_role?(:moderator) %>
              <%= link_to 'Contact us', new_question_path, class: 'btn btn-lg btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <h2>Latest articles: </h2>
  </div>
  <hr class="featurette-divider">
  <br>

  <main class="container marketing">
    <% @articles.each do |article| %>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= article.header %><span class="text-muted">
            <% if article.user != nil %>
            <%= "By: " + article.user.email %>
              <% end %>
              </span></h2>
          <p class="lead"><%= truncate(strip_tags(article.article.to_s), length: 655) %></p>
        </div>

        <div class="col-md-5">
          <br>
          <% if article.avatar.attached? %>
            <%= image_tag article.avatar, width: "250px", height: "250px" %>
          <% end %>
        </div>
      </div>

      <%= link_to 'Read more....', article %>

      <% if has_role?(:admin) %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <% unless article.id.nil? %>
        <% if article_author(article) && !has_role?(:admin)%>
          <%= link_to 'Edit', edit_article_path(article) %>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>

    <% end %>
    <hr class="featurette-divider">
  </main>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2021 Runweb </p>
  </footer>
</main>