<div class="container_basic">
  <br>
  <%= form_with(model: @user) do |form| %>
    <h5>User: <%= @user.email%></h5>
    <br>
    <%= form.collection_check_boxes :role_ids, Role.all, :id, :name %>
    <br>
    <br>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
  <% end %>
</div>